.c-input {
  @include flex(row, flex-start, center, 10px);
  width: 100%;
  height: 46px;
  overflow: hidden;
  padding: 0px 10px;
  border-radius: 10px;
  border: 1px solid var(--neutral-dd);
  &--50 {
    height: 50px;
  }

  .icon {
    @include flex(row, flex-start, center, 0px);
  }
  input {
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    &::placeholder {
      color: var(--neutral-700);
    }
  }
}
